.menu-tooltip {
  --toggle-color: var(--lm);
  --item-1-gradient: linear-gradient(45deg, #f97d98, #62daca83);
  --item-2-gradient: linear-gradient(45deg, aliceblue, #d3c8cb71);
  --item-3-gradient: linear-gradient(
    45deg,
    #0f101e,
    rgba(240, 248, 255, 0.548)
  );
  width: 200px;
  height: 200px;
  margin-top: 22px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -5%;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  .toggle {
    width: 50px;
    height: 50px;
    background-color: var(--toggle-color);
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 1.8em;
    z-index: 999;
    position: absolute;
    transition: transform 1.2s ease-in-out;
    cursor: pointer;
    box-shadow: inset -2px -2px 4px 0 #0006, inset 2px 2px 4px 0 #0008;

    &:before {
      content: "";
      position: absolute;
      inset: 0px;
      background-color: var(--toggle-color);
      z-index: -1;
      filter: blur(30px) saturate(900%) opacity(0.5);
    }
  }

  #toggle {
    appearance: none;
    visibility: hidden;
    &:checked + .toggle {
      transform: rotate(315deg);
    }

    &:checked ~ .circle-box {
      transform: rotate(calc(360deg / 8 * var(--i)));
    }
  }

  .circle-box {
    position: absolute;
    left: 10px;
    list-style-type: none;
    transition: 0.5s;
    transform-origin: 100px;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(70px);

    &:nth-of-type(1) .anchor {
      background: var(--item-1-gradient);
      box-shadow: inset -2px -2px 4px 0 #0006, inset 2px 2px 4px 0 #0008;
    }

    &:nth-of-type(2) .anchor {
      background: var(--item-2-gradient);
      box-shadow: inset -2px -2px 4px 0 #0006, inset 2px 2px 4px 0 #0008;
    }

    &:nth-of-type(3) .anchor {
      background: var(--item-3-gradient);
      box-shadow: inset -2px -2px 4px 0 #0006, inset 2px 2px 4px 0 #0008;
    }

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7) {
      visibility: hidden;
    }
    .dark_icon {
      color: black;
      margin-top: 7px;

      z-index: 10;
    }
    .white_icon {
      color: #fff;
      margin-top: 7px;
    }
    .lobster_icon {
      color: #90193e;
      margin-top: 5px;
    }
    .anchor {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      line-height: 50px;
      border-radius: 50%;
      font-size: 1.5em;
      text-decoration: none;
      transform: rotate(calc(360deg / -8 * var(--i)));

      &:hover {
        &::before {
          inset: -7px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        inset: 0px;
        background-image: inherit;
        border-radius: inherit;
        z-index: -1;
        filter: blur(30px) saturate(900%);
        transition: inset 0.2s ease;
      }
    }
  }
}
